@use "sass:map";

// Breakpoints
$breakpoints: (
    "mobile":           ("min-width": 0,      "prefix": false),
    "large-mobile":     ("min-width": 576px,  "prefix": "lm"),
    "tablet":           ("min-width": 768px,  "prefix": "t"),
    "landscape-tablet": ("min-width": 992px,  "prefix": "lt"),
    "desktop":          ("min-width": 1200px, "prefix": "d"),
    "large-desktop":    ("min-width": 1400px, "prefix": "ld")
);

// Column Gutters
$enableGutters: true;

// Set theme colours
$colorMap: (
    "brand": (
        // Brand-specific colours
    ),

    "additional": (
        // Add your colours here
        "white": #fff,
        "black": #000,
    )
);

// Fallback font stack
$fallbackFontStack: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Set font stacks
$defaultFontStack: "Poppins", $fallbackFontStack;
